body {
    font-family: 'Anton', sans-serif;
    background: #f0f0f0;
}

p {
    font-family: 'Abel', sans-serif;
}

.wrapper {
    font-family: 'Abel', sans-serif;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.last-img {
    float: left;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

@media screen and (min-width: 768px){
    .selectedwork {text-align: left;}
}

@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
}

h5, label {
    display: inline;
}

.card-text {
    text-align: left;
}

.float-left {
    font-family: 'Abel', sans-serif;
    float: left;
    font-size: .75em;
}

.float-right {
    padding-right: 10px;
    float: right;
}

/*SMALL*/
.circlesmall-red {
    line-height: 18px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: .5em;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: .5em;
    background: #E6563B;
    border-radius: 50%;
}

.circlesmall-orange {
    line-height: 18px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: .5em;

    justify-content: center;
    width: 18px;
    height: 18px;
    margin: .5em;
    background: #EB9D3A;
    border-radius: 50%;
}

.circlesmall-green {
    line-height: 18px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: .5em;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: .5em;
    background: #7CB06C;
    border-radius: 50%;
}

.circlesmall-teal {
    line-height: 18px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: .5em;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: .5em;
    background: #00ABA9;
    border-radius: 50%;
}

/*LARGE*/

.circleslarge-red,
.circleslarge-orange,
.circleslarge-green,
.circleslarge-teal {
    background: #E6563B;
    border-radius: 50%;
    border: solid 5px;
    height: 105px;
    width: 105px;
    position: relative;
    margin: 10px;
    color: white;
    vertical-align: middle;
}

.circleslarge-orange{
    background-color: #EB9D3A;
}

.circleslarge-green {
    background-color: #7CB06C;
}

.circleslarge-teal {
    background-color: #00ABA9;
}
.text_circle {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 100px;
}

.last-img {
    margin: auto;
    position: relative;
    clip-path: inset(0px 20px 0px 0px);
}

.margins{
    width: 80%;
    text-align: center;
}

.testclass {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.face {
    clip-path: inset(0px 0px 1px 0px);
}

.frame {
    height: 50px;
    width: 50px;
}
